<form action="/" method="POST">
  <input name="query" />
  <button>Search</button>
</form>

<% if @books %>
  <% for @book in @books %>
    <%= @book.title %></br>
    <%= @book.authors %></br>
    img src= <%= @book.image_link %>
    <%# <%= @book.image_link %>

  <% end %>
<% end %>
