<form action="/contact" method="post">
  <input type="text" name="name" placeholder="Enter your name" value="<%= @name %>">
  <input type="text" name="comment" placeholder="Enter your comment" value="<%= @comment %>">

  <input type="submit" value="Go">
</form>
