<!-- layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Opinion</title>
  <script src="main.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <nav>
    <a href="/" >Home</a>
    <a href="/form" >Contact</a>
  </nav>

  <p>"Submit your opinion about the 2109 elections! Hi voter, we're collecting data on what the general public think of the two major parties running in the 2109 elections."</p>

  <%= yield %>

</body>
</html>
